@model IEnumerable<ASSET.Models.Master.Asset>

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout2.cshtml";
}











<h2 class="category" id="category3">Tobaco</h2>



<ul class="row row-eq-height">
	<li class="col-md-4 col-sm-6 col-xs-6">
		<a href="https://global.rakuten.com/en/store/753ya/?l-id=rgm-shopc-en-753ya-20180524"><img src="https://intl.rakuten-static.com/b/gs/en/img/shop/753ya.jpg" class="img-responsive center-block"></a>
		<p class="shopname"> <a href="https://global.rakuten.com/en/store/753ya/?l-id=rgm-shopc-en-753ya-20180524">Kimono Nagomiya Shop Manager Sadao Matsumoto</a></p>
		<div class="couponbox">
			<span class="couponbox_discount text-center"><em>1,000</em>JPY</span>
			<div class="couponbox__codeset">
				<span id="shop753ya1" class="couponbox__code">9KHT-I3IF-KFVK-QEAL</span> <span class="rGetCouponBtn" data-clipboard-target="#shop753ya1">Copy<span class="rSuccessMessage" style="display: none;">Copied</span><span class="rSuccessMessage" style="display: none;">Copied</span></span>
			</div>
		</div>
		<p class="coupon_condition">
			*Available for orders over 10,000 JPY<br>
			*Only 100 coupons available.
		</p>
		<p class="coupon_end">Ends 5/31/18 09:59 JST</p>
	</li>
	<li class="col-md-4 col-sm-6 col-xs-6">
		<a href="https://global.rakuten.com/en/store/angelluna/?l-id=rgm-shopc-en-angelluna-20180524"><img src="https://intl.rakuten-static.com/b/gs/en/img/shop/angelluna.jpg" class="img-responsive center-block"></a>
		<p class="shopname"> <a href="https://global.rakuten.com/en/store/angelluna/?l-id=rgm-shopc-en-angelluna-20180524">Angel Luna</a></p>
		<div class="couponbox">
			<span class="couponbox_discount text-center"><em>5</em>%</span>
			<div class="couponbox__codeset">
				<span id="angelluna1" class="couponbox__code">XC0N-JJ88-AX74-LEB5</span> <span class="rGetCouponBtn" data-clipboard-target="#angelluna1">Copy<span class="rSuccessMessage" style="display: none;">Copied</span><span class="rSuccessMessage" style="display: none;">Copied</span></span>
			</div>
		</div>
		<p class="coupon_condition">*Available for orders over 5,000 JPY</p>
		<p class="coupon_end">Ends 5/31/18 23:59 JST</p>
	</li>
	<li class="col-md-4 col-sm-6 col-xs-6">
		<a href="https://global.rakuten.com/en/store/apricos/?l-id=rgm-shopc-en-apricos-20180524"><img src="https://intl.rakuten-static.com/b/gs/en/img/shop/apricos.jpg" class="img-responsive center-block"></a>
		<p class="shopname"> <a href="https://global.rakuten.com/en/store/apricos/?l-id=rgm-shopc-en-apricos-20180524">Apricos Rakuten Ichiba Shop</a></p>
		<div class="couponbox">
			<span class="couponbox_discount text-center"><em>10</em>%</span>
			<div class="couponbox__codeset">
				<span id="apricos1" class="couponbox__code">AECB-FQD9-UFE4-6JQB</span> <span class="rGetCouponBtn" data-clipboard-target="#apricos1">Copy<span class="rSuccessMessage" style="display: none;">Copied</span><span class="rSuccessMessage" style="display: none;">Copied</span></span>
			</div>
		</div>
		<p class="coupon_condition">*Available for orders over 5,000 JPY</p>
		<p class="coupon_end">Ends 5/31/18 23:59 JST</p>
	</li>
	<li class="col-md-4 col-sm-6 col-xs-6">
		<a href="https://global.rakuten.com/en/store/artbrown/?l-id=rgm-shopc-en-artbrown-20180524"><img src="https://intl.rakuten-static.com/b/gs/en/img/shop/artbrown.jpg" class="img-responsive center-block"></a>
		<p class="shopname"> <a href="https://global.rakuten.com/en/store/artbrown/?l-id=rgm-shopc-en-artbrown-20180524">ARTBROWN</a></p>
		<div class="couponbox">
			<span class="couponbox_discount text-center"><em>5</em>%</span>
			<div class="couponbox__codeset">
				<span id="artbrown1" class="couponbox__code">B20E-OVUZ-8FRM-GQOH</span> <span class="rGetCouponBtn" data-clipboard-target="#artbrown1">Copy<span class="rSuccessMessage" style="display: none;">Copied</span><span class="rSuccessMessage" style="display: none;">Copied</span></span>
			</div>
		</div>
		<p class="coupon_condition">*Available for orders over 5,000 JPY</p>
		<p class="coupon_end">Ends 5/31/18 09:59 JST</p>
	</li>
	<li class="col-md-4 col-sm-6 col-xs-6">
		<a href="https://global.rakuten.com/en/store/auc-grandbazaar/?l-id=rgm-shopc-en-auc-grandbazaar-20180524"><img src="https://intl.rakuten-static.com/b/gs/en/img/shop/auc-grandbazaar.jpg" class="img-responsive center-block"></a>
		<p class="shopname"> <a href="https://global.rakuten.com/en/store/auc-grandbazaar/?l-id=rgm-shopc-en-auc-grandbazaar-20180524">GRAND BAZAAR ONLINE STORE</a></p>
		<div class="couponbox">
			<span class="couponbox_discount text-center"><em>1,000</em>JPY</span>
			<div class="couponbox__codeset">
				<span id="auc-grandbazaar1" class="couponbox__code">NKTD-YIBX-5YRW-5HNU</span> <span class="rGetCouponBtn" data-clipboard-target="#auc-grandbazaar1">Copy<span class="rSuccessMessage" style="display: none;">Copied</span><span class="rSuccessMessage" style="display: none;">Copied</span></span>
			</div>
		</div>
		<p class="coupon_condition">*Available for orders over 10,000 JPY</p>
		<p class="coupon_end">Ends 5/31/18 09:59 JST</p>
	</li>
	<li class="col-md-4 col-sm-6 col-xs-6">
		<a href="https://global.rakuten.com/en/store/auc-matsui/?l-id=rgm-shopc-en-auc-matsui-20180524"><img src="https://intl.rakuten-static.com/b/gs/en/img/shop/auc-matsui.jpg" class="img-responsive center-block"></a>
		<p class="shopname"> <a href="https://global.rakuten.com/en/store/auc-matsui/?l-id=rgm-shopc-en-auc-matsui-20180524">Pawn Shop Matsui</a></p>
		<div class="couponbox">
			<span class="couponbox_discount text-center"><em>3,000</em>JPY</span>
			<div class="couponbox__codeset">
				<span id="auc-matsui1" class="couponbox__code">IHQO-MF9T-V3JE-EEUS</span> <span class="rGetCouponBtn" data-clipboard-target="#auc-matsui1">Copy<span class="rSuccessMessage" style="display: none;">Copied</span><span class="rSuccessMessage" style="display: none;">Copied</span></span>
			</div>
		</div>
		<p class="coupon_condition">*Available for orders over 90,000 JPY</p>
		<p class="coupon_end">Ends 5/31/18 09:59 JST</p>
	</li>
	<li class="col-md-4 col-sm-6 col-xs-6">
		<a href="https://global.rakuten.com/en/store/brignton/?l-id=rgm-shopc-en-brignton-20180524"><img src="https://intl.rakuten-static.com/b/gs/en/img/shop/brignton.jpg" class="img-responsive center-block"></a>
		<p class="shopname"> <a href="https://global.rakuten.com/en/store/brignton/?l-id=rgm-shopc-en-brignton-20180524">Brignton</a></p>
		<div class="couponbox">
			<span class="couponbox_discount text-center"><em>1,000</em>JPY</span>
			<div class="couponbox__codeset">
				<span id="brignton1" class="couponbox__code">AVA2-EE6J-79YK-OOZP</span> <span class="rGetCouponBtn" data-clipboard-target="#brignton1">Copy<span class="rSuccessMessage" style="display: none;">Copied</span><span class="rSuccessMessage" style="display: none;">Copied</span></span>
			</div>
		</div>
		<p class="coupon_condition">*Available for orders over 10,800 JPY</p>
		<p class="coupon_end">Ends 5/31/18 09:59 JST</p>
	</li>
	<li class="col-md-4 col-sm-6 col-xs-6">
		<a href="https://global.rakuten.com/en/store/ccilu/?l-id=rgm-shopc-en-ccilu-20180524"><img src="https://intl.rakuten-static.com/b/gs/en/img/shop/ccilu.jpg" class="img-responsive center-block"></a>
		<p class="shopname"> <a href="https://global.rakuten.com/en/store/ccilu/?l-id=rgm-shopc-en-ccilu-20180524">Rakuten Ichiba Shop ccilu</a></p>
		<div class="couponbox">
			<span class="couponbox_discount text-center"><em>1,000</em>JPY</span>
			<div class="couponbox__codeset">
				<span id="ccilu1" class="couponbox__code">HBDA-BRIO-2VSL-1OYC</span> <span class="rGetCouponBtn" data-clipboard-target="#ccilu1">Copy<span class="rSuccessMessage" style="display: none;">Copied</span><span class="rSuccessMessage" style="display: none;">Copied</span></span>
			</div>
		</div>
		<p class="coupon_condition">*Available for orders over 10,000 JPY</p>
		<p class="coupon_end">Ends 5/31/18 09:59 JST</p>
	</li>
	<li class="col-md-4 col-sm-6 col-xs-6">
		<a href="https://global.rakuten.com/en/store/non/?l-id=rgm-shopc-en-non-20180524"><img src="https://intl.rakuten-static.com/b/gs/en/img/shop/non.jpg" class="img-responsive center-block"></a>
		<p class="shopname"> <a href="https://global.rakuten.com/en/store/non/?l-id=rgm-shopc-en-non-20180524">e-kodomofuku NON</a></p>
		<div class="couponbox">
			<span class="couponbox_discount text-center"><em>5</em>%</span>
			<div class="couponbox__codeset">
				<span id="non1" class="couponbox__code">23XG-QHG6-CLDA-X1XA</span> <span class="rGetCouponBtn" data-clipboard-target="#non1">Copy<span class="rSuccessMessage" style="display: none;">Copied</span><span class="rSuccessMessage" style="display: none;">Copied</span></span>
			</div>
		</div>
		<p class="coupon_condition">
			*Available for orders over 5,000 JPY<br>
			*Only 300 coupons available.
		</p>
		<p class="coupon_end">Ends 5/31/18 09:59 JST</p>
	</li>
	<li class="col-md-4 col-sm-6 col-xs-6">
		<a href="https://global.rakuten.com/en/store/tiding/?l-id=rgm-shopc-en-tiding-20180524"><img src="https://intl.rakuten-static.com/b/gs/en/img/shop/tiding.jpg" class="img-responsive center-block"></a>
		<p class="shopname"> <a href="https://global.rakuten.com/en/store/tiding/?l-id=rgm-shopc-en-tiding-20180524">TIDING BAG</a></p>
		<div class="couponbox">
			<span class="couponbox_discount text-center"><em>10</em>%</span>
			<div class="couponbox__codeset">
				<span id="tiding1" class="couponbox__code">JU8N-CD4N-J6MR-MFUX</span> <span class="rGetCouponBtn" data-clipboard-target="#tiding1">Copy<span class="rSuccessMessage" style="display: none;">Copied</span><span class="rSuccessMessage" style="display: none;">Copied</span></span>
			</div>
		</div>
		<p class="coupon_condition"></p>
		<p class="coupon_end">Ends 5/31/18 09:59 JST</p>
	</li>
	<li class="col-md-4 col-sm-6 col-xs-6">
		<a href="https://global.rakuten.com/en/store/tosen/?l-id=rgm-shopc-en-tosen-20180524"><img src="https://intl.rakuten-static.com/b/gs/en/img/shop/tosen.jpg" class="img-responsive center-block"></a>
		<p class="shopname"> <a href="https://global.rakuten.com/en/store/tosen/?l-id=rgm-shopc-en-tosen-20180524">Yasuuritengoku Tosen</a></p>
		<div class="couponbox">
			<span class="couponbox_discount text-center"><em>1,000</em>JPY</span>
			<div class="couponbox__codeset">
				<span id="tosen1" class="couponbox__code">FDGI-RPW3-A50P-T5IR</span> <span class="rGetCouponBtn" data-clipboard-target="#tosen1">Copy<span class="rSuccessMessage" style="display: none;">Copied</span><span class="rSuccessMessage" style="display: none;">Copied</span></span>
			</div>
		</div>
		<p class="coupon_condition">*Available for orders over 10,000 JPY</p>
		<p class="coupon_end">Ends 5/31/18 23:59 JST</p>
	</li>
	<li class="col-md-4 col-sm-6 col-xs-6">
		<a href="https://global.rakuten.com/en/store/wsp/?l-id=rgm-shopc-en-wsp-20180524"><img src="https://intl.rakuten-static.com/b/gs/en/img/shop/wsp.jpg" class="img-responsive center-block"></a>
		<p class="shopname"> <a href="https://global.rakuten.com/en/store/wsp/?l-id=rgm-shopc-en-wsp-20180524">Shinju no oroshiyasan</a></p>
		<div class="couponbox">
			<span class="couponbox_discount text-center"><em>10</em>%</span>
			<div class="couponbox__codeset">
				<span id="wsp1" class="couponbox__code">NHKJ-4LAN-S8RO-W0MX</span> <span class="rGetCouponBtn" data-clipboard-target="#wsp1">Copy<span class="rSuccessMessage" style="display: none;">Copied</span><span class="rSuccessMessage" style="display: none;">Copied</span></span>
			</div>
		</div>
		<p class="coupon_condition">*Available for orders over 10,800 JPY</p>
		<p class="coupon_end">Ends 5/31/18 09:59 JST</p>
	</li>
</ul>









